[flake8]
max-line-length = 120
extend-ignore = E203

exclude =
    venv/,
    venv_2/,
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    .env,
    django_graphql/


ignore =
    E501,

